body {
  background-color: rgb(11, 11, 138);
  font-family: 'Black Han Sans', sans-serif;
  font-family: 'Noto Serif KR', serif;
}

header {
  text-align: center;
}

h1 {
  color: khaki;
  text-decoration: underline;
  text-underline-position: under;
}

/* [실습2] 채팅창 UI 만들기 */
.chat-box {
  color: white;
  text-align: center;
}

.chat-list {
  background-color: gray;
  width: 50%;
  height: 500px;
  padding: 10px;
  overflow-y: auto;
  margin: 0 auto;
}

.chat-list div {
  margin-top: 3px;
}

.chat-list div div {
  display: inline-block;
  padding: 3px;
}

.my-chat {
  text-align: right;
}

.my-chat div {
  color: rgb(201, 201, 201);
}

.other-chat {
  text-align: left;
}

.other-chat div {
  color: rgb(201, 201, 201);
}

/* [실습3] DM 기능 */
.secret-chat div {
  color: rgb(201, 201, 201);
}

/* [실습3] */
.notice {
  text-align: center;
  color: gray;
  font-size: 12px;
  background-color: black;
  box-shadow: 50px, 20px, red !important;
}

.d-none {
  display: none;
}
